/*
  Jackie Chambliss
  WEB 125 -- Mobile Web Design
  March 2, 2021
  main.css
*/

/* made sure font size was established at the root level */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 14px;
}

body {
  font-family: Roboto;
  color: #424242;
}

h1, h2, h3, h4, h5 {
  margin: 0; 
}

header, nav, footer, section, article, div {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


/*
 *
 * Common
 * 
 */

.content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
 }
.news__more {
  font-size: .8em;
  color: #333;
  text-decoration: none;
}

/*
 *
 * Header
 *
 */

.header {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  min-height: 56px;
  transition: min-height 0.3s;
}

/* made a header a flexbox to keep image and Page name spaced evenly and content aligned */ 
.header__inner {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
} 

/* changed margin around logo */
.header__logo {
  margin: 2%;
  height: 72px;
  margin-right: 1em;
  vertical-align: top;
  margin-top: 12px;
}

.header__title {
  font-weight: 300;
  font-size: 2.5em;
  margin: 0.5em 0.25em;
  display: inline-block;
  color: #212121;
}


/*
 *
 * Top Level Navigation
 *
 */

.nav {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* made the nav container a flexbox to keep li responsive and content easier to center */
.nav__list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
  padding: 0;
  margin: 0;
}

.nav__item {
  box-sizing: border-box;
  display: inline-block;
  width: 24%;
  text-align: center;
  line-height: 24px;
  padding: 24px;
  text-transform: uppercase;
}

/* removed default style padding */
li.nav__item {
  padding-left: 0;
}

.nav a {
  text-decoration: none;
  color: #616161;
  padding: 1.5em;
}

.nav a:hover {
  text-decoration: underline;
  color: #212121;
}


/*
 *
 * Main
 *
 */

main {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/*
 *
 * Content
 *
 */


/*
 *
 * Hero
 *
 */

.hero {
  width: 100%;
  position: relative;
  background-image: url("./images/dog.jpg");
  background-size: cover;
  height: 300px;
}

.hero article {
  box-sizing: border-box;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0;
  height: 40%;
  width: 100%;
  color: #fff;
  padding: 1em;
}


/*
 *
 * Top News
 *
 */

.top-news {
  width: 100%;
  height: 300px;
  border-bottom: 1px solid #E0E0E0;
  padding: 1em;
}

.news__title {
  font-weight: 300;
  border-bottom: 1px solid #E0E0E0;
  line-height: 24px;
  font-size: 16px;
}

.top-news__item {
  border-bottom: 1px solid #E0E0E0;
  padding: 1em 0;
  line-height: 19.2px;
}

.top-news__item:before {
  content: "» ";
}

.top-news__item:last-child {
  border-bottom: none;
}

.top-news__item a {
  text-decoration: none;
  color: #666;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.top-news__item a:hover,
.top-news__item a:active {
  text-decoration: underline;
}


/*
 *
 * Sport Scores
 *
 */

 /* added margin space for mobile first design */
.scores {
  width: 100%;
  padding-top: 1em;
  margin-top: 2em;
}

.scores__table {
  width: 100%;
  border-collapse: collapse;
}

.scores__table th,
.scores__table td {
  padding: 1em; 
}

.scores__table th {
  color: #fff;
  font-weight: 300;
  background-color: #78909C;
}

.scores__table tr:nth-child(odd) td {
  background-color: #fff;
}

.scores__table tr:nth-child(even) td {
  background-color: #eceff1;
}

.scores__table td.winner {
  font-weight: bold;
}

.scores__table td:nth-child(3) {
  text-align: right;
}

.scores__table td:nth-child(2),
.scores__table td:nth-child(5) {
  text-align: center;
}

/*
 *
 * Weather
 *
 */

 /* added margin for mobile first design */
.weather {
  width: 100%;
  padding: 1em;
  margin-top: 2em;
}

.weather__location {
  display: block;
  font-weight: 300;
  font-size: 1.5em;
  padding: .5em 0;
  border-top: 1px solid #333;
}

.weather__desc {
  display: block;
  font-size: 1.2em;
}

.weather__today {
  width: 60%;
  vertical-align: middle;
}

/* changed base image size to be mobile first */
.weather__today__image {
  vertical-align: middle;
  width: 30%;
}

/* changed font size to be mobile first */
.weather__today__temp {
  font-size: 2em;
}

/* changed font size to be mobile first */
.weather__today__deg {
  font-size: 1.75em;
  display: inline;
}

.weather__next__item {
  display: inline-block;
  width: 18%;
  text-align: center;
}

.weather__next__item span {
  display: block;
}

/* changed base image size to be mobile first */
.weather__next__image {
  width: 60%;
}


/*
 *
 * Weather (shouldn't this say something like "Other News"?)
 *
 */

.recent-news {
  clear: both;
  padding: 1em;
}
/* create flexbox for mobile first design */
.recent-news ul {
  display: flex;
  flex-direction: column;
}
.snippet {
  clear: both;
  margin: 14px 0;
}

/* margins adjusted for mobile first design */
.snippet__thumbnail {
  width: 100px;
  float: left;
  margin-right: 3%;
  margin-bottom: 2%;
}

picture {
  margin-right: 4%;
  margin-bottom: 2%;
}

.snippet__title {
  font-weight: 500;
  margin-top: -1em;
}

.snippet__title a {
  text-decoration: none;
  color: #666;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.snippet__title a:hover,
.snippet__title a:active {
  text-decoration: underline;
}


/*
 *
 * Footer
 *
 */

footer {
  border-top: 1px solid #E0E0E0;
  padding: 1em;
  width: 100%;
}
footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 0;
  margin: 0;
}

footer li {
  display: inline-block;
}

footer a {
  text-decoration: none;
  color: #333;
  padding: 1.5em;
}

/** Flexbox & Media Queries **/

@media (max-width: 500px) {

  .weather__next__item {
    width: 100%;
    text-align: center;
    margin: .5em auto;
    padding-bottom: 1em;
    border-bottom: 1px solid #333;
  }
  .weather__next__image {
    vertical-align: middle;
    width: 15%;
  }
  .weather__next__item span {
    display: inline;
    width: 30%;
    padding: 0 2em;
    font-size: 1.25em;
  }
}

@media (min-width: 600px) {
  .recent-news {
    padding: 2em;
  }
  .recent-news {
    padding-right: 3em;
    padding-left: 3em;
  }
  li.snippet {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    width: 100%;
  }
  .recent-news picture {
    width: 20%;
  }
  .blurb {
    width: 70%;
  }
  .snippet__title {
    margin-top: 0;
  }
  .snippet__thumbnail {
    width: 100%;
  }
}

@media (min-width: 700px) {
  .header__title {
    font-size: 3em;
  }
  .nav__list {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
  }
  .hero {
    width: 50%;
    order: 0;
  }
  .top-news {
    width: 50%;
    order: 1;
  }
  .scores, .weather {
    padding: 10px 70px;
  }
  .scores {
    order: 2;
  }
  .weather {
    order: 3;
  }
  .recent-news {
    order: 4;
  }

}

@media (min-width: 800px) {
  .hero {
    width: 60%;
  }
  .top-news {
    width: 40%;
  }
  .scores, .weather {
    padding: 10px 10px;
  }
  .scores {
    width: 45%;
  }
  .weather {
    width: 55%;
  }
  .news__title {
    font-size: 1.2rem;
  }
  img.weather__today__image {
    width: 20%;
  }
  .weather__location {
    font-size: 2em;
  }
  li.snippet {
    margin-top: 15px;
  }
  li.snippet h3 {
    margin-top: 1%;
    font-size: 1.25em;
  }
  .snippet__title a {
    padding-top: .5em;
    padding-bottom: .5em;
  }
  .recent-news picture {
    width: 26%;
    margin: 1% 2%;
  }
  .recent-news h2 {
    font-size: 1.75em;
  }
  .blurb p {
    line-height: 1.5;
  }
}

@media (min-width: 900px) {
  body {
    width: 900px;
    margin: 0 auto;
    background-color: #738CBF;
  }
  header, nav, footer, section, article, div {
    background-color: #fff;
  }
} 
