@charset "utf-8";
/* CSS Document */


/**********General Styles**********/
html, body {
	background:#fff url(images/wave-3473335_1280.jpg) no-repeat top center;
	font-size:11pt;
	font-family: 'Rajdhani', sans-serif;
	font-weight: 500;
	color: #000;
	margin:0;
	padding:0;
}

#container {
	width:100%;
	margin:0 auto;
}

#wrapper {
	width:840px;
	margin:0 auto;
	position:relative;	
	display: grid;
	grid-template-columns: 2fr 2fr 1fr;
	grid-template-rows: 10% auto auto auto auto 5%;
	grid-template-areas: 
		"title title title"
		"nav nav nav"
		"image image image"
		"content content sidebar"
		"events cards sidebar"
		"footer footer footer";
}

input#mobile_menu {
	display: none;
}

#hamburger_menu label {
	cursor: pointer;
	display: block;
	width: 42px;
	height: 42px;
	background: #e99b1f url(images/menu.svg) no-repeat center center;
	background-size: 22px auto;
	position: absolute;
	top: 20px;
	right: -42px;	
	border-radius: 0 10px 10px 0;
}

#hamburger {
	visibility: hidden;
}

#nav {
	grid-area: nav;
	display: flex;
	margin: 1em auto;
	justify-content: center;
	text-align: center;
	background-color: rgba(255, 255, 255, 60%);
	align-items: center;
}

#nav > a {	
	padding: .3em 1em;
	margin: .5em;
	font-size: 1.35em;
	font-family: 'Passion One', cursive;
	font-weight: 400;
	letter-spacing: 2px;
}

a, a:visited {
	color:#000075;
	text-decoration:none;
	font-weight: 600;
}

a:hover {
	color:#000;
	font-weight: 700;
}

#nav a:hover {
	text-decoration: underline;
}

.listpadright {padding-right:2em;}

.nodisplay { display:none; }

.bottom_border {border-bottom:1px solid #e99b1f; padding-bottom:5px;}

.button_listing img {
	margin-bottom:10px;
	margin-right:5px;
}

.hide {
	display:none;
}

.clear {clear: both;}

h1 {
	color:#d1491f;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:28px;
	font-weight:600;
	line-height:28px;
}

h2 {
	color:#d1491f;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:24px;
	font-weight:normal;
}

h3 {
	font-size:13pt;
	text-decoration:underline;
}

.smalltext_red {font-size:9pt;color:#ff0000;}
	

/**********Header**********/
.title {
	padding-top:2em;
	grid-area: title;
}

.main_img {
	grid-area: image;
	margin: 0 auto;
}

.fadein { position:relative;} /*  height:536px; width:801px;  */
.fadein img { 
	position:absolute; 
	left:0; 
	top:0; 
}

#choose_pleasure {
	position:absolute;
	top:30px;
	left:320px;
	width:200px;
}

figure {
	display: none;
}

figcaption p {
	line-height: 1;
}

/**********Content**********/
.content_left {
	margin-left:2em;
	position:relative;
	padding-right:1em;
	grid-area: content;
}

.content_right {
	width:183px;
	margin:0 17px 0 5px;
	grid-area: sidebar;
}

img.divider {
	width: 80%; 
	height: 1px;
	margin: 0 auto;
	display: block;
}

.social {
	width: 168px;
	height: 50px;
}

.show_hide, .show_hidelb, .show_hidelb2, .show_hidelb3, .show_hidelb4, .show_hidelb5, .show_hidelb6, .show_hidelb7, .show_hidelb8, .show_hidelb9 {
	display:none;
}

.pointer {
	cursor:pointer;
	font-weight:bold;
}

.details_photo {max-width: 100%;}

input#keyword  {
	width: 70%;
}

select#jumpMenu {
	width:165px;
}

/****************** Local Business Sliding Categories *******************/
#categories.expander { 
	margin:0 0 0 15px; 
	padding:0; 
}
#categories.expander div { padding-bottom:0; }
#categories.expander p.maincat { 
	display:block; 
	color:#134f8b; 
	cursor:pointer; 
	font-weight:bold; 
}
#categories.expander div.subcat { display:none; }
#categories.expander div.subcat span { 
	color:#134f8b; 
	cursor:pointer; 
	display:block; 
}

/********** Pagination **********/
.results {
	font-weight:bold;
	color:#006;
	position:relative;
	top:-5px;
}

.paginate {
font-family:Arial, Helvetica, sans-serif;
	padding: 3px;
	margin: 10px 0 10px 3px;
}

.paginate a {
	padding:2px 5px 2px 5px;
	margin:2px;
	border:1px solid #134f8b;
	text-decoration:none;
	color: #134f8b;
}
.paginate a:hover, .paginate a:active {
	border: 1px solid #999;
	color: #000;
}
.paginate span.current {
    margin: 2px;
	padding: 2px 5px 2px 5px;
		border: 1px solid #134f8b;
		
		font-weight: bold;
		background-color: #134f8b;
		color: #FFF;
	}
	.paginate span.disabled {
		padding:2px 5px 2px 5px;
		margin:2px;
		border:1px solid #eee;
		color:#DDD;
	}

/**********Visitor Info - Beach Wedding**********/
a.wedding_guide {
	color:#134f8b;
	font-weight:bold;
	text-decoration:underline;font-size:13pt;
}
a:hover.wedding_guide {text-decoration:none;}


/**********Keyword Searchbox**********/
.keyword_searchbox {
	padding:10px;
	background:#d6d6d6;
	width:90%;
	margin-bottom:10px;
}


/**********Where To Eat**********/
.eat_searchbox {
	padding:10px;
	background:#ededed;
	width:90%;
}

.profile_form {
	padding:10px;
	width:90%;
}

/**********Where To Play**********/
.play_searchbox {
	padding:10px;
	background:#ededed;
	width:90%;
}

/**********Where To Stay**********/
.stay_searchbox {
	padding:10px;
	background:#ededed;
	width:90%;
}

/**********Eat, Play, Stay Establishment list, Local Businesses**********/
.listing {
	position:absolute;
	top:240px;
	left:0;
}

.absolutezero {
	position:absolute;
	top:0;
	left:0;
}


.ltgray {
	padding:10px;
	background:#ededed;
	width:46%;
	height:90px;
}

.dkgray {
	padding:10px;
	background:#d6d6d6;
	width:46%;
	height:90px;
}

.biz {
	margin-bottom:10px;
}

.biz_category {
	border-bottom:1px solid #e99b1f;
	height:22px;
}

.biz_category span {
	background:#e99b1f;
	font-weight:bold;
	padding:5px 10px;
	color:#FFF;
}

a.biz_link, a.biz_link:visited {
	font-weight:bold;
	color:#134f8b;
	text-decoration:none;
}

a.biz_link:hover {
	color:#000;
}

/**********Local Businesses**********/
.biz_searchbox {
	padding:10px;
	background:#ededed;
	width:90%;
}

/**********Member Directory**********/
.letters {
	background:#e99b1f;
	font-weight:bold;
	padding:5px;
	margin-right:3px;
	width:24px;
	display:inline;
}

.letters a, .letters a:visited {
	color:#FFF;
	text-decoration:none;
}

/**********Member Directory - Related Links**********/
#member_related_links {
	width:163px;
	padding:10px;
	background:#fdb33e;
	margin-bottom:20px;
}

/**********Members Only**********/
#signin {
	padding:5px;
	background:#ededed;
}

#register {
	padding:5px;
	background:#d6d6d6;
	margin-left:10px;
}

/**********Sign Up - Updates**********/
#signup_updates {
	width:163px;
	padding:10px;
	background:#d1491f;
	margin-bottom:20px;
}

/**********What's Happening**********/
.calendar {
	background:#999;
	padding:10px;
	border:1px solid #000;
}

.calendar table th  {
	color:#fff;
}

.calendar table tr td  {
	border:1px solid #000;
	height:50px;
	background:#fff;
}

a.cal_link {
	font-size:9pt;
	margin-bottom:10px;
	display:block;
	padding-top:5px;
}

/**********Homepage - Main Events**********/
#main_events {
	background:#FDE9C9;
	margin-bottom:20px;
	grid-area: events;
}

#main_events p {
	border-top:1px solid #fff;
	padding-top:10px;
}

/**********Cards***********/
#cards {
	grid-area: cards;
}

#cards img {
	display:block;
	margin:0px 11px 10px;
	width: 255px;
	height: 188px;
}

/**********Sidebar**********/
.sidebar_nav {
	background:#FDE9C9;
	grid-area: sidebar;
}

.sidebar_nav p {
	margin:15px 0;
	color:#FFF;
	font-weight:bold;
	font-size:13pt;
}

.sidebar_nav a, .sidebar_nav a:visited {
	color:#000;
	text-decoration:none;
	font-size:14px;
}

.sidebar_nav a:hover {
	text-decoration:underline;
}

.sidebar_nav p.myvisit {
	color:#000;
}

/**********Google Search **********/
td.gsc-clear-button  { display: none !important; }


/**********Contact Us**********/

.required {
	color:#ff0000;
	font-weight:bold;
}

/**********Footer**********/
#footer {
	font-size:8pt;
	margin:10px 0;
	position:relative;
	grid-area: footer;
}

#footer_links {
	background:#fdb33e;
	line-height:30px;
	padding:0 10px;
	margin:0 0 10px 0;
}


.fan_box .profileimage, .page_stream img   {display:none;}

/********** by-line ***************/
.byline {
	width:160px;
	height:34px;
	text-transform:none;
	position:absolute;
	bottom:8px;
	right:0; 
	font:13px Arial, Helvetica, sans-serif !important;}

.byline div.byline_big {
	width:149px;
	margin:0;
	padding:0;
	position:absolute;
	top:0;
	left:0;
	font-weight:bold;
	text-align:right;
}

.byline img {
	position:absolute;
	top:15px;
	right:0;
	padding-left:5px;
}

.byline .byline_small {
	position:relative;
	top:0px;
	font-size:9px;
	font-weight:bold;
}

.byline a, .byline a:visited {
	font:13px Arial, Helvetica, sans-serif !important;
	font-weight:bold !important;
}

#main_events > p {
	padding: .5em 1.5em;
}

#main_events img {
	display: block;
	margin: 0 auto;
}

.sidebar_nav p {
	margin-left: .5em;
	margin-right: .5em;
}

.sidebar_nav img {
	display: block;
	margin: 0 auto;
}

input#keyword  {
	margin-left: .5em;
}

select#jumpMenu, input#email {
	margin-left: .5em;
}

.sidebar_nav {
	padding-bottom: .5em;
}

input#email {
	width: 80%;
}

#footer_links {
	text-align: center;
}

#footer_links a {
	padding: .5em 1em;
}

@media (max-width: 899px) {

	#wrapper {
		width: 100%;
		margin: 0;
	}

	.title {
		margin: 0 auto;
	}

	iframe {
		display: none;
	}

	figure {
		display: block;
		width: 80%;
		margin: 1em auto;
	}

	figure > img {
		width: 100%;
	}

	#main_events img {
		width: 90%;
	}

	.sidebar_nav {
		width: 100%;
		padding-bottom: .1em;
	}

	.sidebar_nav img {
		width: 90%;
	}

	input#keyword  {
		width: 60%;
	}

	select#jumpMenu {
		width: 80%;
	}

	#footer_links a {
		padding: 1em 1.5em;
	}
}

@media (max-width: 774px) {

	#wrapper {
		grid-template-columns: 2fr 1fr;
		grid-template-rows: auto auto auto auto auto 5%;
		grid-template-areas: 
			"title title"
			"nav nav"
			"image image"
			"content events"
			"cards sidebar"
			"footer footer";
	}

	#main_events {
		width: 100%;
		padding: 0;
		margin: 0;
	}

	a:hover {
		font-weight: 600;
	}

	.content_right {
		background-color: teal;
		display: inline;
		width: 100%;
		margin: 0;
		padding: 0;
	}

	#cards img {
		margin: 1em auto;
	}

	img.social {
		height: 80%;
	}

	#signup_updates {
		width: 100%;
		padding: 0;
		margin: 1em auto;
	}

	#signup_updates p, #signup_updates form {
		margin-left: .5em;
	}

}

@media (max-width:609px) {

	html, body {
		background:#fff url(images/wave_mobile.jpg) no-repeat top center;
	}

	#hamburger {
		visibility: visible;
	}

	input#mobile_menu:checked + #hamburger_menu {
		left: 0;
	}

	input#mobile_menu:checked + #hamburger_menu label {
		background-image: url(images/menu_close.svg);
	}

	#hamburger_menu {
		width: 180px;
		background-color: #e99b1f;
		padding: 10px 20px 10px 25px;
		color: #fff;
		box-sizing: border-box;
		position: absolute;
		top: 30px;
		left: -180px;
	}

	#nav {
		display: none;
	}

	.title img {
		width: 80%;
		position: relative;
		left: 15%;
	}

	#nav {
		flex-wrap: wrap;
		width: 80%;
		margin: 0 auto;
		background-color: transparent;
	}

	#hamburger_menu a {
		display: block;
		width: 100%;
		background-color: rgba(255, 255, 255, 60%);
		margin-bottom: .5em;
		padding: .7em .5em;
		border-radius: 5px 0 5px 0;
	}

	figcaption {
		background-color: rgba(255, 255, 255, 80%);
	}

	.content_left {
		margin-left: .5em;
	}

	.content_right {
		margin-right: 1em;
	}

	#cards img {
		width: 90%;
	}

	#footer_links a {
		font-size: 1.5em;
		display: block;
		margin-left: 1em;
		padding: .2em .5em;
	}
	
	/* This is giving me different results on different emulators (Firefox v Chrome) */
	.byline {
		bottom: -300px;
	}

	.copyright {
		margin-left: .5em;
		width: 50%;
	}
}

@media (max-width: 460px) {

	#wrapper {
		grid-template-columns: 60% 40%;
		grid-template-rows: auto auto auto auto auto 5%;
		grid-template-areas: 
			"title title"
			"nav nav"
			"image image"
			"content sidebar"
			"cards events"
			"footer footer";
	}

	#main_events p {
		margin-left: .2em;
		margin-right: .2em;
		padding-left: .5em;
		padding-right: .5em;
	}

	.content_left h1 {
		background-color: rgba(255, 255, 255, 80%);
	}

}








